+b.SECTION.catalog
	.container
		+b.bread-crumbs
			+e.A.link(href="/") Главная
			+e.A.link Каталог
		+e.H1.title Каталог
		+e.content
			+b.catalog-menu
				+e.UL.list
					+e.LI.item
						+e.A.item-link_first Каталог
					+e.LI.item
						+e.A.item-link(href="/") Массажные столы Vernam
					+e.LI.item
						+e.A.item-link(href="/") Товары для дома
					+e.LI.item
						+e.A.item-link(href="/") Для здоровья и красоты
					+e.LI.item
						+e.A.item-link(href="/") Мебель медицинская
					+e.LI.item
						+e.A.item-link(href="/") Изделия медицинского назначения
					+e.LI.item
						+e.A.item-link(href="/") Стерилизация, дезинфекция
					+e.LI.item
						+e.A.item-link(href="/") Урология, гинекология
					+e.LI.item
						+e.A.item-link(href="/") Хирургия
					+e.LI.item
						+e.A.item-link(href="/") Офтальмология
					+e.LI.item
						+e.A.item-link(href="/") ЛОР-оборудование и инструменты
					+e.LI.item
						+e.A.item-link(href="/") Стоматология
					+e.LI.item
						+e.A.item-link(href="/") Диагностика
					+e.LI.item
						+e.A.item-link(href="/") Медицинское оборудование и инструменты
					+e.LI.item
						+e.A.item-link(href="/") Лабораторное оборудование и инструменты
					+e.LI.item
						+e.A.item-link(href="/") Травматология
					+e.LI.item
						+e.A.item-link(href="/") Рентгеновское оборудование
					+e.LI.item
						+e.A.item-link(href="/") Утилизация
					+e.LI.item
						+e.A.item-link(href="/") Косметология и дерматология
			+b.right-content
				+b.options
					+e.show Показано товаров: 2010
				+b.catalog-list
					+b.ARTICLE.goods-item_catalog
						+e.FIGURE.figure_new
							+e.IMG.img(src="static/img/general/interesting/item1.jpg" alt="Item1")
							+e.FIGCAPTION.figcaption Физиотерапевтические аппараты
						+e.title Электроды для дарсонвализации
						+e.description Для аппарато «Короона», «Карат», «Ультратек»
						+e.price
							+e.cost 1 500 Р
							+b.button_goods-item купить »
					+b.ARTICLE.goods-item_catalog
						+e.FIGURE.figure_best-price
							+e.IMG.img(src="static/img/general/interesting/item2.jpg" alt="Item2")
							+e.FIGCAPTION.figcaption Тонометры Автоматические
						+e.title Тонометр автоматический с функцией диагностики аритмии Microlife BP A100
						+e.description Для пенсионеров скидки!!!
						+e.price
							+e.cost_sale  3 870 Р
							+b.button_goods-item купить »
					+b.ARTICLE.goods-item_catalog
						+e.FIGURE.figure_new
							+e.IMG.img(src="static/img/general/interesting/item3.jpg" alt="Item3")
							+e.FIGCAPTION.figcaption Физиотерапевтические аппараты
						+e.title Концентратор кислородный 7F-1L
						+e.description Для сеансов профилактической кислородотерапии, приготовления кислородных коктейлей
						+e.price
							+e.cost 1 500 Р
							+b.button_goods-item купить »
					+b.ARTICLE.goods-item_catalog
						+e.FIGURE.figure_bestseller
							+e.IMG.img(src="static/img/general/interesting/item2.jpg" alt="Item2")
							+e.FIGCAPTION.figcaption Тонометры Автоматические
						+e.title Тонометр автоматический с функцией диагностики аритмии Microlife BP A100
						+e.description ДАННЫЙ ТОВАР ИМЕЕТ РЕГИСТРАЦИОННОЕ УДОСТОВЕРЕНИЕ!
						+e.price
							+e.cost цена не указана
							+b.button_goods-item купить »
					+b.ARTICLE.goods-item_catalog
						+e.FIGURE.figure_bestseller
							+e.IMG.img(src="static/img/general/interesting/item2.jpg" alt="Item2")
							+e.FIGCAPTION.figcaption Тонометры Автоматические
						+e.title Тонометр автоматический с функцией диагностики аритмии Microlife BP A100
						+e.description ДАННЫЙ ТОВАР ИМЕЕТ РЕГИСТРАЦИОННОЕ УДОСТОВЕРЕНИЕ!
						+e.price
							+e.cost цена не указана
							+b.button_goods-item купить »
					+b.ARTICLE.goods-item_catalog
						+e.FIGURE.figure_bestseller
							+e.IMG.img(src="static/img/general/interesting/item2.jpg" alt="Item2")
							+e.FIGCAPTION.figcaption Тонометры Автоматические
						+e.title Тонометр автоматический с функцией диагностики аритмии Microlife BP A100
						+e.description ДАННЫЙ ТОВАР ИМЕЕТ РЕГИСТРАЦИОННОЕ УДОСТОВЕРЕНИЕ!
						+e.price
							+e.cost цена не указана
							+b.button_goods-item купить »
					+b.ARTICLE.goods-item_catalog
						+e.FIGURE.figure_bestseller
							+e.IMG.img(src="static/img/general/interesting/item2.jpg" alt="Item2")
							+e.FIGCAPTION.figcaption Тонометры Автоматические
						+e.title Тонометр автоматический с функцией диагностики аритмии Microlife BP A100
						+e.description ДАННЫЙ ТОВАР ИМЕЕТ РЕГИСТРАЦИОННОЕ УДОСТОВЕРЕНИЕ!
						+e.price
							+e.cost цена не указана
							+b.button_goods-item купить »