+b.SECTION.interestin-offers
	.container
		+e.H2.title Интересные предложения:
		+e.UL.categories
			+e.LI.category-item
				+e.A.category-button Все новинки
			+e.LI.category-item
				+e.A.category-button Все хиты продаж
			+e.LI.category-item
				+e.A.category-button Лучшая цена
		+e.list
			+b.ARTICLE.goods-item
				+e.FIGURE.figure_new
					+e.IMG.img(src="static/img/general/interesting/item1.jpg" alt="Item1")
					+e.FIGCAPTION.figcaption Физиотерапевтические аппараты
				+e.title Электроды для дарсонвализации
				+e.description Для аппарато «Короона», «Карат», «Ультратек»
				+e.price
					+e.cost 1 500 Р
					+b.button_goods-item купить »
			+b.ARTICLE.goods-item
				+e.FIGURE.figure_best-price
					+e.IMG.img(src="static/img/general/interesting/item2.jpg" alt="Item2")
					+e.FIGCAPTION.figcaption Тонометры Автоматические
				+e.title Тонометр автоматический с функцией диагностики аритмии Microlife BP A100
				+e.description Для пенсионеров скидки!!!
				+e.price
					+e.cost_sale  3 870 Р
					+b.button_goods-item купить »
			+b.ARTICLE.goods-item
				+e.FIGURE.figure_new
					+e.IMG.img(src="static/img/general/interesting/item3.jpg" alt="Item3")
					+e.FIGCAPTION.figcaption Физиотерапевтические аппараты
				+e.title Концентратор кислородный 7F-1L
				+e.description Для сеансов профилактической кислородотерапии, приготовления кислородных коктейлей
				+e.price
					+e.cost 1 500 Р
					+b.button_goods-item купить »
			+b.ARTICLE.goods-item
				+e.FIGURE.figure_bestseller
					+e.IMG.img(src="static/img/general/interesting/item2.jpg" alt="Item2")
					+e.FIGCAPTION.figcaption Тонометры Автоматические
				+e.title Тонометр автоматический с функцией диагностики аритмии Microlife BP A100
				+e.description ДАННЫЙ ТОВАР ИМЕЕТ РЕГИСТРАЦИОННОЕ УДОСТОВЕРЕНИЕ!
				+e.price
					+e.cost сена не указана
					+b.button_goods-item купить »