+b.SECTION.main-banner
	+b.banner-slider
		+e.item
			+e.IMG.item-img(src="../../../static/img/general/main-banner/slide1.jpg")
		+e.item
			+e.IMG.item-img(src="../../../static/img/general/main-banner/slide1.jpg")
		+e.item
			+e.IMG.item-img(src="../../../static/img/general/main-banner/slide1.jpg")
		+e.item
			+e.IMG.item-img(src="../../../static/img/general/main-banner/slide1.jpg")
		+e.item
			+e.IMG.item-img(src="../../../static/img/general/main-banner/slide1.jpg")
	+e.H1.title Уже 50 лет мы обеспечиваем бесперебойную работу медицинской тех