+b.SECTION.range
	.container
		+e.H2.title ассортимент нашей продукции
		+e.list
			+b.ARTICLE.catalog-item
				+e.IMG.img(src="../../../static/img/general/catalog/item1.jpg" alt="Item1")
				+e.info
					+e.A.title Массажные столы Vernam
					+e.UL.categories
						+b.LI.category-item
							+e.A.link Складные массажные столы
						+b.LI.category-item
							+e.A.link Аксессуары для массажа
						+b.LI.category-item
							+e.A.link Стационарные массажные столы
			+b.ARTICLE.catalog-item
				+e.IMG.img(src="../../../static/img/general/catalog/item2.jpg" alt="Item2")
				+e.info
					+e.A.title Товары для дома
					+e.UL.categories
						+b.LI.category-item
							+e.A.link Мать и дитя
						+b.LI.category-item
							+e.A.link Тонометры 
						+b.LI.category-item
							+e.A.link Ингаляторы
						+b.LI.category-item
							+e.A.link Коляски инвалидные
						+b.LI.category-item
							+e.A.link Физиотерапевтические аппараты
			+b.ARTICLE.catalog-item
				+e.IMG.img(src="../../../static/img/general/catalog/item3.jpg" alt="Item3")
				+e.info
					+e.A.title Для здоровья и красоты
					+e.UL.categories
						+b.LI.category-item
							+e.A.link Аксессуары для массажа 
						+b.LI.category-item
							+e.A.link Массаж
						+b.LI.category-item
							+e.A.link Разное
						+b.LI.category-item
							+e.A.link Фитнес
						+b.LI.category-item
							+e.A.link Тренажеры
			+b.ARTICLE.catalog-item
				+e.IMG.img(src="../../../static/img/general/catalog/item4.jpg" alt="Item4")
				+e.info
					+e.A.title Мебель медицинская
					+e.UL.categories
						+b.LI.category-item
							+e.A.link Мебель медицинская
						+b.LI.category-item
							+e.A.link Шкафы медицинские 
						+b.LI.category-item
							+e.A.link Ширмы 
						+b.LI.category-item
							+e.A.link Кушетки, банкетки 
						+b.LI.category-item
							+e.A.link Штативы
			+b.ARTICLE.catalog-item
				+e.IMG.img(src="../../../static/img/general/catalog/item5.jpg" alt="Item5")
				+e.info
					+e.A.title Изделия медицинского назначения
					+e.UL.categories
						+b.LI.category-item
							+e.A.link Марля, вата, бинты
						+b.LI.category-item
							+e.A.link Одноразовая одежда 
						+b.LI.category-item
							+e.A.link Трубки, жгуты
						+b.LI.category-item
							+e.A.link Перчатки
						+b.LI.category-item
							+e.A.link Шприцы
						+b.LI.category-item
							+e.A.link Разное
			+b.ARTICLE.catalog-item
				+e.IMG.img(src="../../../static/img/general/catalog/item6.jpg" alt="Item6")
				+e.info
					+e.A.title Стерилизация, дезинфекция
					+e.UL.categories
						+b.LI.category-item
							+e.A.link Емкости, лотки
						+b.LI.category-item
							+e.A.link Облучатели бактерицидные 
						+b.LI.category-item
							+e.A.link Индикаторы, крафт-пакеты
						+b.LI.category-item
							+e.A.link Стерилизаторы, камеры
						+b.LI.category-item
							+e.A.link Коробки
			+b.ARTICLE.catalog-item
				+e.IMG.img(src="../../../static/img/general/catalog/item7.jpg" alt="Item7")
				+e.info
					+e.A.title Урология, гинекология
					+e.UL.categories
						+b.LI.category-item
							+e.A.link Инструментарий
			+b.ARTICLE.catalog-item
				+e.IMG.img(src="../../../static/img/general/catalog/item8.jpg" alt="Item8")
				+e.info
					+e.A.title Хирургия
					+e.UL.categories
						+b.LI.category-item
							+e.A.link Стулья и табуреты
						+b.LI.category-item
							+e.A.link Шкафы медицинские 
						+b.LI.category-item
							+e.A.link Ширмы 
						+b.LI.category-item
							+e.A.link Кушетки, банкетки 
						+b.LI.category-item
							+e.A.link Штативы
		+b.A.button_blue перейти в полный каталог продукции
		+e.descriptin Еще 9 категорий медицинских товаров.
