.range
	padding: 60px 0 45px 0
	@include span(12)
	.container
		flex-direction: column
	
	&__title
		margin-bottom: 50px
	
	&__list
		@include wrapper()
		@include row-flex()
		display: flex
		flex-wrap: wrap

	&__descriptin
		font-size: 14px
		line-height: 20px
		color: $gray

.catalog-item
	@include col()
	@include col-offsets(30px)
	@include size(3)
	@include size-lg(4)
	margin-bottom: 30px

	display: flex
	align-items: flex-start
	&__img
		width: auto
		max-width: 80px
		min-width: 75px
		margin-right: 30px
	&__title
		display: block
		font-family: OpenSansBold, sans-serif
		font-size: 18px
		line-height: 24px
		color: $blue
		cursor: pointer
		margin-bottom: 35px
		&:hover
			color: $red
	&__categories
		padding-left: 15px

.category-item
	position: relative
	font-size: 17px
	line-height: 24px
	margin-bottom: 20px
	&__link
		&:hover
			cursor: pointer
			color: $darkBlue
			text-decoration: underline
	&:before
		position: absolute
		content: ">"
		top: 0
		left: -15px
		width: 5px
		height: 8px
		transform: translateX(-50%)
		font-size: 18px
		line-height: 24px
		color: $darkBlue

.gray-line
	@include span(12)
	margin: 30px 0
	height: 1px
	background-color: $darkWhite

.button
	cursor: pointer
	padding: 23px 60px
	font-family: OpenSansSemiBold, sans-serif
	&_blue
		font-size: 16px
		line-height: 20px
		text-transform: uppercase
		color: $white
		background-color: $lessBlue
		margin-bottom: 20px





		




