// ЦВЕТА

$fontBlue       : #0889cc
$fontBlack      : #1e1e1e
$fontDarckBlack : #2f2f2f
$fontGray       : #9b9a9a
$fontLightGray  : #a8a8a8

$bgGray         : #f1f1f1
$bgLightGray    : #e2e2e2
$bgRed          : #f46464


$white          : #ffffff



// РАЗМЕРЫ

// ШРИФТЫ

$boldFont           : OpenSasnBold, sans-serif
$mainFont           : OpenSasnRegular, sans-serif
$ligtFont           : OpenSasnLight, sans-serif
$extraBoldFont      : OpenSasnBold, sans-serif
$semiBoldFont       : OpenSansSemiBold, sans-serif
$semiBoldItalicFont : OpenSansSemiBoldItalic, sans-serif

//Контрольные точки
$sm : 544px                       // Small screen / phone
$md : 768px                       // Medium screen / tablet
$lg : 992px                       // Large screen / desktop
$xl : 1200px                      // Extra large screen desktop
$xxl: 1440px                      // Wide desktop