.footer
	@media screen and (max-width: $break_lg)
		padding: 20px 0

	width: 100%
	padding: 25px 50px
	background-color: $lessBlack
	
	&__top

		width: 100%
		align-items: flex-start
		margin-bottom: 35px

	&__bottom
		@media screen and (max-width: $break_xs)
			width: auto

		width: 100%


	&__attention
		@media screen and (max-width: $break_xs)
			text-align: center
			margin-bottom: 20px

		@media screen and (max-width: $break_lg)
			@include size(8)

		@media screen and (max-width: $break_xs)
			@include size(12)

		@include size(6)


		font-size: 12px
		line-height: 16px
		color: $lowLightGray

.madeby
	@media screen and (max-width: $break_lg)
		@include size(4, 0px)

	@media screen and (max-width: $break_xs)
		@include size(12, 0px)
		justify-content: center

	@include size(6, 0px)

	display: flex
	justify-content: flex-end
	align-items: center

	&__descripton
		font-size: 12px
		line-height: 16px
		color: $lowLightGray
		margin-right: 10px

	&__img
		max-width: 30px


.footer-logo
	@media screen and (max-width: $break_lg)
		@include size(4)

	@media screen and (max-width: $break_md)
		@include size(6)

	@include size(2)

	cursor: pointer

	&__img
		max-width: 195px
		width: 100%

.footer-address
	@media screen and (max-width: $break_lg)
		@include size(4)
	@media screen and (max-width: $break_md)
		display: none

	@include size(3)

	&__place
		font-family: $mainFont
		font-size: 14px
		margin-bottom: 9px
		color: $originalGray

	&__work-time
		font-family: $mainFont
		font-size: 14px
		color: $originalGray
		margin-bottom: 9px

		&:last-child
			margin-bottom: 0


.footer-phone
	@media screen and (max-width: $break_lg)
		@include size(4)
	@media screen and (max-width: $break_md)
		@include size(6)

	@include  size(3)

	&__phone-item
		margin-bottom: 6px
		@media screen and (max-width: $break_lg)
			text-align: right

		&:last-child
			margin-bottom: 0

	&__phone-link
		font-family: $mainFont
		font-size: 14px
		color: $originalGray


.footer-search
	@media screen and (max-width: $break_lg)
		display: none

	@include size(4)

	display: flex
	justify-content: flex-end
	align-items: center
	
	&__label
		font-size: 10px
		line-height: 20px
		color: $originalGray
		margin-right: 10px
	
	&__input
		padding: 5px 10px
		width: 100%
		max-width: 210px
		border: none
		background-color: $lightGray
		border-radius: 3px
		margin-right: 10px
		color: $black
		font-size: 12px
	&__button
		cursor: pointer
		background-color: $hardGray
		border: none
		border-radius: 3px
		padding: 7px 16px
		font-family: OpenSansSemiBold, sans-serif
		font-size: 9px
		color: $originalGray
		text-transform: uppercase